<div class="container custom-container-2">
  <!-- Show it when list is empty -->
  <div class="no-data text-center" *ngIf="User.length == 0">
    <p>There are no people added yet!</p>
    <button class="btn btn-outline-primary" routerLink="/create-user">
      Add Person
    </button>
  </div>

  <!--  list table, it hides when empty -->
  <div *ngIf="User.length !== 0">
    <h3 class="mb-3 text-center">List</h3>

    <div class="col-md-12">
      <table class="table table-bordered">
        <caption>
          List
        </caption>
        <thead>
          <tr>
            <th scope="col">Full Name</th>
            <th scope="col">ID Number</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of User">
            <td>{{ user.name }}</td>
            <td>{{ user.idNumber }}</td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-outline-primary" routerLink="/create-user">
        Add Person
      </button>
    </div>
  </div>
</div>
