<div class="container custom-container p-5">
  <div class="col-md-12">
    <h3 class="mb-3 text-center">Create Person</h3>
    <form
      name="form"
      role="form"
      (ngSubmit)="addUser(userDetails)"
      #createUserForm="ngForm"
    >
      <div class="form-group">
        <input
          type="text"
          name="first"
          [(ngModel)]="userDetails.name"
          class="form-control"
          placeholder="Full Name"
          #first="ngModel"
          required
          minlength="1"
          maxlength="50"
          pattern="[a-zA-Z\s]+"
        />

        <div *ngIf="first.dirty && first.invalid">
          <small class="form-text text-danger" *ngIf="first.errors.required">
            Your name is required.
          </small>
          <small class="form-text text-danger" *ngIf="first.errors.minlength">
            Your name is required to be at least 1 character.
          </small>
          <small class="form-text text-danger" *ngIf="first.errors.maxlength">
            Your name cannot be longer than 50 characters.
          </small>
          <small class="form-text text-danger" *ngIf="first.errors.pattern">
            Your name can only contain letters.
          </small>
        </div>
      </div>

      <div class="form-group">
        <input
          type="text"
          name="idnum"
          [(ngModel)]="userDetails.idNumber"
          class="form-control"
          placeholder="8790981278903"
          #idnum="ngModel"
          required
          minlength="1"
          maxlength="13"
          pattern="^[0-9]*$"
        />

        <div *ngIf="idnum.dirty && idnum.invalid">
          <small class="form-text text-danger" *ngIf="idnum.errors.required">
            Your id number is required.
          </small>
          <small class="form-text text-danger" *ngIf="idnum.errors.minlength">
            Your id number is invalid.
          </small>
          <small class="form-text text-danger" *ngIf="idnum.errors.maxlength">
            Your id number cannot be longer than 13 digits.
          </small>
          <small class="form-text text-danger" *ngIf="idnum.errors.pattern">
            Your id number is invalid.
          </small>
        </div>
      </div>

      <div class="form-group">
        <button
          class="btn btn-success btn-lg btn-block"
          type="submit"
          [disabled]="createUserForm.form.invalid"
        >
          Create Person
        </button>
      </div>
      <button
        class="btn btn-outline-primary btn-lg btn-block"
        routerLink="/user-list"
      >
        View List
      </button>
    </form>
  </div>
</div>
